body {
    margin: 0;
    padding: 0;
}
.container{
    padding: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.current-city-block{
    margin-top: 20px;
    padding:5px 10px 5px 10px;
}
.current-city-name{
    padding:5px;
}
.city-list-block{
    margin-top: 10px;
    padding:5px 10px 5px 10px ;
}
.city-forecast-block,
.city-history-block {
    padding:5px 10px 5px 10px ;
}
.modal-label{
    text-align: center;
}
.right-buttons{
    width: 90%;
    height: 30px;
}
input {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
td.link:hover,
td.link:focus {
    cursor: pointer;
}
.forecast-archive-table-content{
    width: 18%;
    text-align: center;
}
.in-table-button{
    text-align: center;
}
.button{
    padding: 5px 10px 5px 10px;
}
.button.right {
    float: right;
}
.cancel {
    margin-right: 5px;
}
#addFirstCity {
    width: 60%;
    padding: 5px 10px 5px 10px;
    margin-left: auto;
    margin-right: auto;
}
.city-list-table {
    padding-top: 10px;
}
.toList{
    padding: 5px 10px 5px 10px;
}
.small-page-text{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}